@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@layer components {
    .container{
        @apply mx-auto px-5 ;
    }
}
.white{
    color: #222222;
    background-color: #FFFFFF;
}
.dark{
    color: #FFFFFF;
    background-color: #1142c0;
}
.manrope{
    font-family: 'Manrope', sans-serif;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}